:root {
    --accent-color: rgb(244, 151, 2);
    --hover-color: rgb(246, 174, 57);
    --view-btn-color: #2664f6;
    --hover-view-btn-color: #3e75f6;
    --shadow:0 0 20px rgb(0,0,0,0.15);
    --red-color: #db4451;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

body {
    height: 100vh;
}

.container {
    margin: 5% 20%;
    text-align: center;
}

.container * {
    margin: 1rem;
    padding: 6px 12px;
}

form h1 {
    font-size: 3rem;
}

.container input {
    width: 100%;
}

.error-element {
    color: var(--red-color);
    margin: 0;
}

.btn-container button {
    width: 10rem;
    background-color: var(--accent-color);
    border: none;
    border-radius: 6px;
    box-shadow: var(--shadow);
    color: white;
}

.btn-container button:hover {
    background-color: var(--hover-color);
}

.model-container {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    pointer-events: none;
}

.model {
    background-color: rgba(255, 255, 255, 1);
    width: 25rem;
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 6px;
}

.model * {
    margin: .5rem 0;
}
